@{
    ViewBag.Title = "Index";
}
@section scripts {
<script type="text/javascript" src="https://www.google.com/jsapi"></script> 
<script>
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(dibujarGrafico);
    function dibujarGrafico() {
       
        var data = google.visualization.arrayToDataTable([
          ['Texto', '$Sales '],
          ['Sales Goal', parseInt($("#SalesGoal").attr('value'))],
          ['Current Sales',parseInt( $('#CurrentSales').attr('value'))]
        ]);
        var options = {
            title: 'Sales Report'
        }
       
        new google.visualization.ColumnChart(
       
          document.getElementById('Report')
        ).draw(data, options);
    }
</script> 

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
   @* <script src="~/Scripts/Graphic/Index.js"></script>*@
    @Scripts.Render("~/bundles/jqueryval")
}
@*@using(Html.BeginForm("Index", "Graphic",
    FormMethod.Post)) {
<div class="editor-label">
   Select the date
</div>
<div class="editor-field">
    <input id="date" type="datetime-local" value="" />
</div>
    <p>
        <button id="addFilter" type="submit">Search</button>
    </p>
}*@
@Html.Hidden("SalesGoal", TempData["SalesGoal"])
@Html.Hidden("CurrentSales", TempData["CurrentSales"])
<div id="Report" style="width: 800px; height: 600px">
</div>