@model RestorationStore.Domain.Model.Request

@{
    ViewBag.Title = "Stop the request";
}
@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}
<h2>Stop the request</h2>
<div id="myId">
    @using(Ajax.BeginForm(
        new AjaxOptions {
            HttpMethod = "POST",
            Url = "SetInStopRequest?id_request=" + Model.Id,
            UpdateTargetId = "myId"
        })) {
        <fieldset>
            <legend>Request</legend>
            @Html.Partial("DetailRequestFullPartial", Model)
            <p>
                <button id="submitEditPost" type="submit">Stop the Request</button>
                @Html.ActionLink("Back to the list of pending requests",
                             "Index",
                             "RequestPending")
            </p>
        </fieldset>
    }
   
</div>