@{
    ViewBag.Title = "Index";
}


<div class="templatemo_section_1_contentarea">
    <div class="templatemo_text">
        <h1>We can repair everything</h1>
        <h2>This is a small test website, it is part of a selection process that I have with a software development company, I hope you like it and if you have any suggestions please create an request, I will gladly help you.</h2>
    </div>
    <div class="templatemo_img">
        <img src="Content/Images/logo.png" alt="CSS Template" />
    </div>
</div>
