@{
    ViewBag.Title = "Index";
}


<div class="templatemo_section_1_contentarea">
    <div class="templatemo_text">
        <h1>We can repair everything</h1>
    </div>
    <div class="templatemo_img">
        <img src="Content/Images/logo.png" alt="CSS Template" />
    </div>
</div>
